@media (max-width: 530px) {
  .bottom {

    &__list {
      display: block;

      padding: 70px 40px 40px 25px;
    }

    &__list-item:not(:last-child) {
      margin-bottom: 30px;
    }

    &__nav {
      display: block;
      position: absolute;
      top: 80px;
      left: 0;
      background: var(--main-black);
      width: 100%;
      box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
      left: -100%;
      transition: all 0.4s ease;

      z-index: 10;
    }

    &__nav.active {
      left: 0;
      z-index: 20;
    }

    &__burger {
      display: block;
      position: relative;
      width: 20px;
      height: 20px;

      z-index: 50;
    }
  
    &__burger span {
      position: absolute;
      background-color: var(--white-color);
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
    }
  
    &__burger::before,
    &__burger::after {
      content: "";
      background-color: var(--white-color);
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
    }
  
    &__burger::before {
      top: 2px;
    }
  
    &__burger::after {
      width: 50%;
      bottom: 2px;
    }

    &__burger.active {
      border: 1px solid transparent;
      border-radius: 100%;
      background-color: #808080;
    }

    &__burger.active span {
      opacity:0; 
      transition: 0.2s; 
    }
    
    &__burger.active:before {
        width: 70%;
        height: 1px;

        transform: rotate(45deg);
        top: 9px;
        left: 2.6px;
        transition: 0.4s;
    }

    &__burger.active:after {
        width: 70%;
        height: 1px;

        transform: rotate(-45deg);
        top: 8.5px;
        left: 2.6px;
        transition: 0.4s;
    }
  }
}