@import "common";

// header // header // header // header // header // header // header // header // header // header // header // header // header // header // header // header // header // header // header // header // header // header // header // header

.header {
  background-color: var(--main-black);

  &__container,
  &__list,
  &__social-list {
    display: flex;
  }

  &__container {
    justify-content: space-between;
    align-items: center;

    padding-top: 24px;
    padding-bottom: 20px;
  }

  &__list {
    flex-wrap: wrap;

    padding-left: 47px;
  }

  &__item-link {
    font-size: 16px;
    line-height: 21px;

    color: var(--white-color);
    transition: color .3s ease;
  }

  &__list-item:not(:last-child) {
    margin-right: calc(33px + 46 * ((100vw - 1024px)/ 896));
  }

  &__item-link:hover {
    color: var(--hover-color);
  }

  &__item-link:focus-visible {
    background-color: var(--focus-color);
  }

  &__item-link:active {
    color: var(--active-color);
  }

  &__social-item:not(:last-child) {
    margin-right: 20px;
  }

  &__search-btn {
    display: none;
  }


}

.social-img {
  display: inline-block;
  width: 30px;
  height: 30px;
} 

.bottom,
.bottom__burger,
.header__form-search {
  display: none;
}

// hero// hero// hero// hero// hero// hero// hero// hero// hero// hero// hero// hero// hero// hero// hero// hero// hero// hero// hero// hero// hero// hero// hero// hero// hero// hero// hero// hero

.hero {

  padding-top: 41px;
  padding-bottom: 59px;

  &__container,
  &__list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }

  &__events {
    position: relative;
    display: flex;
    flex-direction: column;

    padding-top: 411px;
    padding-right: calc(11px + 134 * ((100vw - 1024px)/ 896));
    padding-bottom: calc(30px + 30 * ((100vw - 1024px)/ 896));
    padding-left: calc(30px + 30 * ((100vw - 1024px)/ 896));

    background: url(../img/photo-events.webp) center/cover no-repeat;
  }

  &__title {
    margin-bottom: 20px;

    font-size: 36px;
    line-height: 104%;

    color: var(--white-color);
  }

  &__btn {
    align-self: flex-start;
    text-align: center;

    padding: 16px 22px 15px;

    border: 2px solid transparent;
    background: var(--hover-color);
    color: var(--white-color);

    transition: all .3s ease;
  }

  .entire-btn::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  &__descr {
    color: var(--white-color);
  }

  &__subtitle {
    margin-bottom: 11px;

    font-size: 24px;
    line-height: 25px;

    color: var(--main-black);
  }

  .item-1 {
    grid-column: span 2;
  }
}

// about-us// about-us// about-us// about-us// about-us// about-us// about-us// about-us// about-us// about-us// about-us// about-us// about-us// about-us// about-us// about-us// about-us// about-us// about-us

.about-us {

  padding-top: 30px;
  padding-bottom: calc(132px + -63 * ((100vw - 1025px)/ 895));

  background-color: var(--main-black);

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit,calc(50% - 15px));
    justify-content: space-between;
  }

  &__title {
    grid-column: span 2;

    margin-bottom: 5px;

    color: var(--white-color);
  }

  &__descr {
    font-size: 16px;
    line-height: 28px;

    color: var(--cacaca-color);
  }

  &__photo-cam {
    position: relative;
    padding-top: 255px;
    margin-bottom: 22px;
  }

  &__photo-cam::after {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: url(../img/about-us-cam.webp) center/cover no-repeat;
  }

  &__form {
    display: flex;
  }

  &__subtitle {
    display: block;
    margin-bottom: 16px;

    color: var(--white-color);
  }

  &__form-label {
    position: relative;
    margin-right: 30px;
    flex-grow: 1;
  }

  &__form-input {
    width: 100%;
    padding: 17px 23px 18px;
    background-color: #4a4a4a;
    outline: 1px solid transparent;
    color: var(--cacaca-color);
    
    transition: all .3s ease;
  }

  &__form-input::placeholder {
    transition: all .3s ease;
  }

  &__form-input:hover, 
  &__form-input:hover::placeholder {
    color: var(--hover-color);
  }

  &__form-input:focus-visible {
    outline: 1px solid var(--focus-color);
  }

  &__form-input.focus-visible {
    color: var(--white-color);
  }

  &__btn {
    align-self: flex-start;
    text-align: center;

    padding: 12px 21px 15px;

    border: 2px solid transparent;
    background: var(--hover-color);
    color: var(--white-color);

    transition: all .3s ease;
  }

}

// projects // projects // projects // projects // projects // projects // projects // projects // projects // projects // projects // projects // projects // projects // projects // projects // projects // projects 

.projects {
  padding-top: 68px;
  padding-bottom: 68px;

  &__title {
    margin-bottom: 12px;

    color: var(--main-black);
  }

  &__all {
    display: grid;
    row-gap: calc(9px + 16 * ((100vw - 1024px)/ 896));
  }

  &__top, 
  &__bottom {
    display: grid;
    gap: calc(15px + 15 * ((100vw - 1024px)/ 896));
  }

  &__top {
    grid-template-columns: repeat(6,1fr);
  }

  &__bottom {
    grid-template-columns: repeat(4,1fr);
  }

  &__top-item,
  &__bottom-item {
    position: relative;
  }

  &__figure {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__figcaption {
    max-width: 196px;
  }

  &__figcaption,
  &__figcaption-bottom {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    justify-content: space-between;
    height: 100%;
  }

  &__link {
    margin-top: 18px;
    margin-bottom: 10px;

    color: var(--main-black);
    transition: all .3s ease;
  }

  .for-1024 {
    display: none;
  }

  &__link:hover {
    color: var(--hover-color);
  }

  &__link:focus-visible {
    color: var(--white-color);
    background-color: var(--focus-color);
  }

  &__link:active {
    color: var(--active-color);
  }

  &__day {
    font-size: 12px;
    line-height: 22px;

    color: var(--999-color);
  }

  .data {
    display: flex;
    align-items: center;
  }

  .calendar {
    display: block;
    width: 11.67px;
    height: 12.83px;

    margin-right: 5px;
  } 

  &__subtitle {
    margin-bottom: 6px;
    
    font-size: 24px;
    line-height: 24px;
  }

  &__subtitle,
  &__descr {
    color: var(--white-color);
  }

  &__btn {
    align-self: flex-start;

    padding: 15px 22px;
    border: 3px solid var(--hover-color);

    color: var(--white-color);
    transition: all .3s ease;
  }

  &__btn:hover {
    background-color: var(--hover-color);
  }

  &__btn:focus-visible {
    background: var(--focus-color);
    border: 3px solid var(--hover-color);
  }

  &__btn:active {
    background-color: var(--active-color);
    border: 3px solid var(--active-color);
  }

  .huge-item-top {
    grid-column: span 3;
    background: url(../img/projects-big-1.webp) center/cover no-repeat;
  }

  .huge-item-bottom {
    grid-column: span 2;
    background: url(../img/projects-big-2.webp) center/cover no-repeat;
  }

  .huge-item-top,
  .huge-item-bottom {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 300px;

    padding-top: 22px;
    padding-bottom: 34px;
    padding-left: 30px;
    padding-right: calc(210px + 95 * ((100vw - 1024px)/ 896));
  }

  .huge-item-top-1024 {
    display: none;
  }

}

// contacts // contacts // contacts // contacts // contacts // contacts // contacts // contacts // contacts // contacts // contacts // contacts // contacts // contacts // contacts // contacts 

.contacts {

  padding-bottom: 69px;

  &__container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 30px;
  }

  &__title {
    grid-column: 1/-1;
    margin-bottom: 15px;

    color: var(--main-black);
  }

  // left // left // left // left // left // left // left // left // left // left // left // left // left 

  &__left {
    grid-column: span 2;

    max-height: 465px;
    min-height: 465px;
    max-width: 100%;

    padding-top: 7px;
  }

  &__map-wrap,
  &__address,
  &__left {
    position: relative;
  }

  &__address {
    width: 50%;
    min-height: 460px;
    padding: 175px 57px 150px 60px;

    background-color: rgba(0, 0, 0, .6);

    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease;
  }

  .address--active {
    opacity: 1;
    visibility: visible;
  }

  &__subtitle-adr {
    margin-bottom: 5px;
    
    color: var(--white-color);
  }

  &__adr {

    font-style: normal;
    font-size: 16px;
    line-height: 28px;

    color: var(--cacaca-color);
  }

  &__phone {
    display: flex;
    align-items: center;

    font-size: 16px;
    line-height: 21px;

    color: var(--white-color);
  }

  .phone {
    display: block;
    width: 16.5px;
    height: 16.5px;

    margin-right: 5px;
  }

  .close-btn {
    position: absolute;

    top: 25px;
    right: 50px;
  }

  .close {
    display: block;
    width: 20px;
    height: 20px;
  }

  &__map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e6e6fa;
  }



  // right // right // right // right // right // right


  &__right,
  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input {
    width: 100%;

    margin-bottom: 20px;
  }

  &__textarea {
    resize: none;
    max-height: 150px;
  }

  &__input,
  &__textarea {
    padding: 15px 23px 16px 23px;

    outline: 1px solid transparent;
    background: var(--e9e9e9-color);
    color: var(--999-color);
  }

  &__input,
  &__textarea,
  &__input::placeholder,
  &__textarea::placeholder {
    transition: all .3s ease;
  }

  &__input:hover, 
  &__input:hover::placeholder,
  &__textarea:hover::placeholder,
  &__textarea:hover {
    color: var(--hover-color);
  }

  &__input:focus-visible,
  &__textarea:focus-visible {
    outline: 1px solid var(--focus-color);
  }

  &__input.focus-visible,
  &__textarea.focus-visible {
    color: var(--main-black);
  }

  &__subtitle {
    margin-bottom: 5px;
    
    color: var(--main-black);
  }

  &__content {
    margin-bottom: 14px;

    color: var(--999-color);
  }

  &__btn {
    align-self: flex-start;
    text-align: center;

    padding: 16px 22px 15px;
    margin-top: 20px;
    border: 2px solid transparent;
    background: var(--hover-color);
    color: var(--white-color);

    transition: all .3s ease;
  }

  [class*="ground-pane"] {
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
  }
}

.footer {
  background-color: var(--main-black);

  &__container {
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  &__container,
  &__left,
  &__right,
  &__social {
    display: flex;
  }

  &__left {
    flex-direction: column;

    .logo {
      width: 190px;
      height: 31px;

      margin-bottom: 6px;
    }

    .footer__company {

      font-size: 14px;
      line-height: 18px;


      color: var(--e9e9e9-color);
    }
  }

  &__mid {
    width: 368px;
  }

  &__quote {
    color: var(--e9e9e9-color);
  }

  &__name {
    color: #4c4c4c;
  }

  &__right {
    flex-direction: column;
    align-items: center;
  }

  &__social {
    flex-wrap: wrap;
  }

  &__more {
    margin-bottom: 8px;

    color: var(--cacaca-color);
  }

  &__social-item:not(:last-child) {
    margin-right: 20px;
  }
}

@import "media1024";
@import "media768";
@import "media320";

